<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div>
  Сегодня, <span th:text="${date}"></span>
</div>

<div class="container my-2">
  <br>
<!--  <h1>Список самолетов(<span th:text="${airplanesCount}">0</span>)</h1>-->
  <a th:href="@{/new_airplane}" class="btn btn-primary btn-sm mb-3">Добавить самолет</a>
<!--  <a th:href="@{/deleteAll}" class="btn btn-danger btn-sm mb-3">Удалить все задачи </a>-->
  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>ID</th>
      <th>Бренд</th>
      <th>Модель</th>
      <th>Производитель</th>
      <th>Год выпуска</th>
      <th>Вместимость топливных баков</th>
      <th>Посадочных мест</th>
      <th>Оценка</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="airplane : ${airplanes}">
      <td th:text="${airplane.getId()}"></td>
      <td th:text="${airplane.getBrand()}"></td>
      <td th:text="${airplane.getModel()}"></td>
      <td th:text="${airplane.getManufacturer()}"></td>
      <td th:text="${airplane.getYear()}"></td>
      <td th:text="${airplane.getFuelCapacity()}"></td>
      <td th:text="${airplane.getSeat()}"></td>
      <td><a th:href="@{/ratingAir/{id}(id=${airplane.Id})}" class="btn btn-danger">Оценка</a></td>
    </tr>
    </tbody>
  </table>
  <hr>
  <a th:href="@{/}">назад</a>
</div>
</body>
</html>