<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
  <br>
  <h1>Оценка транспортного средства(<span th:text="${ratingCount}">0</span>)</h1>
  <a th:href="@{/newRatingAir/{id}(id=${airplaneId})}" class="btn btn-danger btn-sm mb-3">Оценить транспорт</a>
  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <td th:text="${airplane.getId()}"></td>
      <td th:text="${airplane.getBrand()}"></td>
      <td th:text="${airplane.getModel()}"></td>
      <td th:text="${airplane.getManufacturer()}"></td>
      <td th:text="${airplane.getYear()}"></td>
      <td th:text="${airplane.getFuelCapacity()}"></td>
      <td th:text="${airplane.getSeat()}"></td>
    </tr>
    </thead>
  </table>
  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>ID</th>
      <th>Дата оценки</th>
      <th>Тип транспорта</th>
<!--      <th>Цена</th>-->
      <th>Оценка</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rating : ${ratingList}">
      <td th:text="${rating.getId()}"></td>
      <td th:text="${rating.getDate()}"></td>
      <td th:text="${rating.getType()}"></td>
<!--      <td th:text="${rating.getValue()}"></td>-->
      <td th:text="${rating.getRating()}"></td>
    </tr>
    </tbody>
  </table>
  <hr>
  <a th:href="@{/airindex}">назад</a>
</div>
</body>
</html>