<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
  <br>
  <h1>Обслуживание автомобилей(<span th:text="${userCars.size()}">0</span>)</h1>

  <table border="1" class="table table-striped table-responsive-xl">
    <thead>
    <tr>
      <th>ID</th>
      <th>Цвет</th>
      <th>Модель</th>
      <th>Тип авто</th>
      <th>Кондиционер</th>
      <th>Количество дверей</th>
      <th>Обивка салона</th>
      <th>Мощность</th>
      <th>Год</th>
      <th>Комментарий</th>
      <th>Ответ</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${userCars}">
      <td th:text="${car.getId()}"></td>
      <td th:text="${car.getColor()}"></td>
      <td th:text="${car.getModel()}"></td>
      <td th:text="${car.getTypeCar()}"></td>
      <td th:text="${car.getConditioner()}"></td>
      <td th:text="${car.getDoorNum()}"></td>
      <td th:text="${car.getUpholstery()}"></td>
      <td th:text="${car.getPower()}"></td>
      <td th:text="${car.getYear()}"></td>
      <td th:text="${car.getUserQuests().getUserQuestion()}"></td>
      <td th:text="${car.getUserQuests().getOperatorResponse()}"></td>
      <td><a th:href="@{/responseUserQuest/{id}(id=${car.Id})}" class="btn btn-outline-danger mb-1">Ответить</a>
        <a th:href="@{/calculateUserCar/{id}(id=${car.Id})}" class="btn btn-outline-info mb-1">Рассчитать</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/index}"> назад </a>
</div>
</body>
</html>